 * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;

 }

 *:focus {
   outline: none !important;
   box-shadow: none !important;
 }

 body {
   background: black;
   color: white;
   text-align: center;
   padding-inline: 6vw;

 }

 /* Custom Squid Game font (downloaded TTF/OTF file) */
 @font-face {
   font-family: 'GameOfSquids';
   src: url('fonts/Game Of Squids.ttf') format('truetype');
   /* Make sure the path is correct */
 }

 .squid-title {

   font-family: 'GameOfSquids', sans-serif;
   font-size: clamp(30px, 5vw, 50px);
   color: #fff;
   letter-spacing: 5px;
   text-align: center;
   text-shadow: 0 0 2px #ff2e7e,
     0 0 4px #ff2e7e,
     0 0 6px #ff2e7e;
   margin: 0;
   line-height: clamp(40px, 5vw, 50px);
   margin-top: 60px;
 }

 .challenge-title {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 24px;
   font-weight: 600;
   color: #ba264b;
   /* Netflix pink */

   text-align: center;

   margin: 0;

 }

 .pink-squid {
   color: #e02856;

 }

 .arenaTxt {
   display: inline-block;
   font-size: clamp(25px, 5vw, 45px);
   font-family: 'GameOfSquids', sans-serif;

 }

 .mind-chall {
   color: white;

   font-size: clamp(23px, 5vw, 35px);
 }

 .para-tag {
   font-family: 'Roboto', sans-serif;
   font-size: clamp(16px, 2vw, 18px);

 }

 .para-tag {
   font-size: clamp(14px, 2vw, 22px);
   font-weight: 500;
   color: #ccc;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 2px;
   text-transform: uppercase;
 }

 .para-tag-two {
   font-size: clamp(13px, 2vw, 18px);
   font-weight: 500;
   color: #ccc;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 2px;
   margin-top: 15px;
 }

 .para-tag-three {
   font-size: clamp(13px, 2vw, 18px);
   font-weight: 500;
   color: #ccc;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 2px;
   margin-top: 5px;
   max-width: 900px;
   margin-left: auto;
   margin-right: auto;

 }

 .image-div {
   max-width: 88vw;
   width: 100%;
   height: clamp(300px, 50vw, 700px);
   overflow: hidden;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: clamp(50px, 4vw, 80px);
 }

 .image-div img {
   height: 100%;
   width: 100%;
   position: absolute;
   left: 0;
   top: 0;
   object-fit: cover;
 }

 .image-div::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, #0000008d 10%, #00000000);
   top: 0;
   left: 0;
   inset: 0;
   z-index: 2;

 }

 .register {
   position: absolute;


   bottom: 10%;
   padding-inline: clamp(15px, 3vw, 30px);
   padding-block: clamp(10px, 2vw, 15px);
   color: white;
   z-index: 5;
   background-color: #ba264b;

   border: 0;
   border-radius: 20px;
   font-size: clamp(12px, 2vw, 16px);
 }


 /* Modal Background */
 .modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.3s ease;
   z-index: 1000;
 }

 /* Modal Box */
 .modal-content {
   background: #000000;
   padding: 30px;
   border-radius: 12px;
   max-width: 500px;
   width: 100%;
   margin-inline: 6vw;
   text-align: center;
   transform: scale(0.7);
   transition: transform 0.3s ease, opacity 0.3s ease;
   opacity: 0;

 }

 /* Close Button */
 .close {
   position: absolute;
   top: 20px;
   right: 25px;
   font-size: 28px;
   cursor: pointer;
 }

 /* Active State - Fade In + Zoom In */
 .modal.show {
   opacity: 1;
   pointer-events: all;
 }

 .modal.show .modal-content {
   transform: scale(1);
   opacity: 1;
 }

 /* Zoom Out on Close */
 .modal.hide .modal-content {
   transform: scale(0.6);
   opacity: 0;
 }

 input {
   width: 100%;
   margin: 10px;
   height: 40px;
   padding: 10px;
   background: linear-gradient(to top, #ba264b1e, #ba264b00);
   border: 1px solid #ba264b;
   border-radius: 5px;
   color: white;
 }

 input::placeholder {
   color: rgba(255, 255, 255, 0.771);
   font-size: clamp(11px, 2vw, 14px);
 }

 #submit {
   background: black;
   border: 1px solid #ba264b;
   padding-inline: clamp(20px, 3vw, 20px);
   padding-block: clamp(5px, 2vw, 10px);
   color: white;
   margin-top: 15px;
   border-radius: 5px;
 }

 /* Loader full screen */
 #loader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 9999;
   display: none;
   /* by default hidden */
 }

 /* Spinning circle */
 .spinner {
   width: 50px;
   height: 50px;
   border: 10px transparent;
   border-top: 10px solid #ba264b;
   border-radius: 50%;
   animation: spin 1s linear infinite;
 }

 /* Animation */
 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }

   100% {
     transform: rotate(360deg);
   }
 }

 .footer {

   color: #d0cfcf;
   text-align: left;
   padding-block: 30px;
   padding-inline: 35px;
   display: flex;
   text-align: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 10px;
   font-family: 'Poppins', sans-serif;
   margin-top: clamp(50px, 4vw, 80px);
   border-top: 2px solid #ba264b;
 
 }

 .footer h3 {
   font-size: clamp(18px, 2vw, 24px);
   margin-bottom: 10px;
   color: #ba264b;
   margin-left: 0;
   letter-spacing: 1px;
   text-align: left;
 }

 .footer p {
   margin: 10px 0;
   font-size: clamp(14px, 2vw, 16px);
   font-family: 'Roboto', sans-serif;
   text-align: left;


 }

 .footer a {
   color: #cccccc;

   text-decoration: none;

 }

 .footer a:hover {
   text-decoration: underline;
 }


 footer .about {

   font-size: 14px;

   color: #bbb;
   max-width: 500px;
   margin-left: auto;


 }

 .footer .about p {
   margin: 0;
   line-height: clamp(20px, 2vw, 24px);
   font-size: clamp(14px, 2vw, 16px);
 }
 @media(max-width:913px){
  .footer{
  justify-content: center;

  }
  .footer .about{
    margin-left: 0;
   display: flex;

  }
  .footer .about p{
    text-align: center;
  }
 }

 .credit {
   margin-top: 20px;
   font-size: 13px;
   color: #888;
 }


 .welcomeGreet {
   position: fixed;

   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 9999;
   background: rgba(0, 0, 0, 0.6);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: center;

   pointer-events: none;
   transition: opacity 0.3s ease;
   z-index: 1000;
      transform: scale(01);
   transition: transform 0.3s ease, opacity 0.3s ease;
   opacity: 0;
 }

 .greetContent {
   width: 500px;
   /* height: 500px; */
   background: url("ChatGPT\ Image\ Aug\ 23\,\ 2025\,\ 11_30_33\ AM.png") no-repeat 100% 100%;
   position: relative;
   border: 1px solid #ba264b;
   border-radius: 10px;
   padding-inline: 20px;
   text-align: center;
   margin-left: 6vw;
   margin-right:6vw ;
   padding-bottom: 20px;
      transform: scale(0.7);
   transition: transform 0.3s ease, opacity 0.3s ease;
   opacity: 0;
 }

 .closeGreet {
   position: absolute;
   width: 50px;
   height: 50px;
   font-size: 30px;
   left: auto;
   right: 0%;
   top: 0%;
 }

 .squid-title-greet {
   font-family: 'GameOfSquids', sans-serif;
   font-size: clamp(20px, 5vw, 30px);
   color: #fff;
   letter-spacing: 3px;
   text-align: center;
    text-shadow: 0 0 2px #ff2e7e,
     0 0 3cap #ff2e7e,
     0 0 4px #ff2e7e; 
   margin: 0;
   line-height: clamp(30px, 5vw, 40px);
   margin-top: 20px;
 }
 .title-quiz{
  margin-top: 10px;
  color: white;
 }

 .mark-greet {
margin-top: 10px;
font-family: 'poppins',sans-serif;
font-size: clamp(18px,2vw,24px);
letter-spacing: 2px;
color: #a2a1a1;
 }
 .main-greet{
  display: flex;
  gap: 10px;
  height: 130px ;
  width: 88%;
  justify-content: space-evenly;

  margin-top: clamp(20px,2vw,40px);
 }
 .main-greet img{
  height: 130px;
  max-width: 130px;
  width: 100%;
margin-left: clamp(10px,3vw,40px);

 }

 .venue-greet{
 
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
font-size: clamp(15px,2vw,18px);
gap: 10px;

 }
  @media(max-width:459px){
  .main-greet{
    height: 120px;
  }
  .main-greet img{
    width: 100px;
    height: 120px;
  }
 }
   @media(max-width:371px){
  .main-greet{
    height: 120px;
  }
  .main-greet img{
    width: 70px;
    height: 120px;
  }
 }
 .greet-tagline{
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(18px,2vw,24px);
  margin-top: 15px;
border: 1px solid #ba264b;
padding-block: 5px;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  border-radius: 10px;
 
 }
  .welcomeGreet.show {
   opacity: 1;
   pointer-events: all;
 }

 .welcomeGreet.show .greetContent {
   transform: scale(1);
   opacity: 1;
 }

 /* Zoom Out on Close */
 .welcomeGreet.hide .greetContent {
   transform: scale(0.6);
   opacity: 0;
 }